@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

:root{
  --blue: rgb(56, 96, 206);
  --green: rgb(28, 158, 35);
  --red: rgb(212, 38, 38)
}

.navBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem;
  color: #fff;
}

.navBar ul {
  list-style: none;
  display: flex;
}

.navBar ul li {
  margin: 0 1rem;
}

.navLink {
  text-decoration: none;
  color: #fff;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.container table {
  width: 90%;
  border-collapse: collapse;
}

.container table th{
  background-color: #a7a5a5;
}

.container table th, .container table td{
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.container button, .linkBtn{
  margin-right: 10px;
  padding: 11px;
  border: 1px solid #ddd;
  border-radius: 8px;
  color: #fff;
}

.container button:hover{
  cursor: pointer;
}

.linkBtn{
  text-decoration: none;
}

.actionsBtn{
  max-width: 240px;
}

.viewBtn{
  background-color: var(--blue);
}

.editBtn{
  background-color: var(--green);
}

.deleteBtn{
  background-color: var(--red);
}

.form{
  margin-top: 15px;
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-group{
  margin-bottom: 20px;
}

.form label{
  display: block;
  margin-bottom: 8px;
}

.form input{
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
}

.formBtn{
  display: flex;
  justify-content: right;
}

.formBtn button:hover{
  cursor: pointer;
}

.cancel-btn{
  background-color: var(--red);
}

.save-btn{
  background-color: var(--green);
}